.my-carousel {
    background: #fff;
}
.my-carousel a {
    display: inline-block;
    width: 100%;
    margin: 0; padding: 0;
}
.my-carousel a img {
    width: 100%;
    vertical-align: top;
}
.my-carousel .v-item {
    height: 7%;
    line-height: 7%;
    padding-left: 7%;
}